<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>

    <table border="1px">
        <tr>
            <td>NOME FANTASIA</td>
            <td>DATA FABRICACAO</td>
            <td>COR</td>
            <td>ALTURA</td>
            <td>PRECO</td>
            <td>PESO</td>
        </tr>
        <% for (var i=0; i<resultsHTML.length; i++){ %>
            <tr>
                <td>
                    <%= resultsHTML[i].NOME_FANTASIA%>
                </td>
                <td>
                    <%= resultsHTML[i].DATA_FABRICACAO%>
                </td>
                <td>
                    <%= resultsHTML[i].COR%>
                </td>
                <td>
                    <%= resultsHTML[i].ALTURA%>
                </td>
                <td>
                    <%= resultsHTML[i].PRECO%>
                </td>
                <td>
                    <%= resultsHTML[i].PESO%>
                </td>

            </tr>
            <%}%>
    </table>


</body>

</html>